# Python standard
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data and Outputs
data/
outputs/**/history/
!outputs/**/.gitkeep

# IDEs
.vscode/
.idea/

# Experiments
experiments/

# Temporary and Reports
tmp/
.coverage
.pytest_cache/
.DS_Store
tests/reports/**/history/
!.gitkeep
