# Python standard
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data, Schemas and Outputs
data/
outputs/**/history/
schemas/**/history/
!outputs/**/.gitkeep
!schemas/**/.gitkeep

# IDEs
.vscode/
.idea/

# Experiments
experiments/

# Temporary and Reports
tmp/
.coverage
.pytest_cache/
.DS_Store
*.xml
coverage.json
tests/reports/**/history/
.executive/**/history/
.blueprint/**/history/
!.gitkeep
pipeline_execution.log